body {
  background-color: #F0F0C2;
}

.h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}

ul {
  font-size: 20px;
  line-height: 20px;
}

ol {
  font-size: 20px;
  line-height: 20px;
}

.link {
  color: blue;
}

.sidebar-l {
  width: 15%;
  float: right;
  background-color: #A3A8A9;
  text-align: center;
  margin: 15px;
}

.sidebar-r {
  width: 15%;
  float: left;
  background-color: #A3A8A9;
  text-align: center;
  margin: 15px;
}

.AM {
  width: 15%;
  border: black;
  padding: 25px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: white;
}

.h3 {
  text-align: center;
  font-size: 25px;
}

.span {
  background-color: yellow;
}

.img {
  margin: 10px;
  border: 20px solid black;
  padding: 12px;
  background-color: white;
  border-radius: 25%;
  width: 50%;
  height: auto;
}
