body {
  background-color: #F0F0C2;
}

.h1 {
  color: black;
  text-align: center;
  font-size: 50px;
  line-height: 50px;
}

ol {
  font-size: 50px;
  line-height: 50px;
}

.link {
  color: blue;
}

.sidebar-r {
  width: 15%;
  float: right;
  background-color: #A3A8A9;
  text-align: center;
  margin: 15px;
}

.sidebar-l {
  width: 15%;
  float: left;
  background-color: #A3A8A9;
  text-align: center;
  margin: 15px;
}

.span {
  background-color: yellow;
}

.img {
  margin: 10px;
  border: 20px solid black;
  padding: 12px;
  background-color: white;
  border-radius: 25%;
}